
img {
  max-width: 100%;
  border-radius:30px;
}
img .myImg{
  border-radius:60px;
}
nav{
  width:auto;
  margin-bottom: 30px;
  color:white;
  font-size: 18px;
}
#navigation{
  font-size: 18px;
}
#navigation span {
  font-family: 'Yatra One', cursive;
}
.title{
  margin-top:30px;
  font-family: 'Indie Flower', cursive;
  /*background-image: url("http://images.freeimages.com/images/previews/fe3/swirl-1245425.jpg");*/
}
body{
  margin: 15px 15px;
  /*background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSdfPEXS7pZWN9Fat5Zg0FrhvzXQj98dfj-toSd5nbyV26JL5mO");*/
  background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRqVwJGeUH-8Zq3eeZBm-C_ZEBsYSTAB-ZV3xX8-PIFjkdfRgJeug");
  background-repeat: no-repeat;
  color:wheat;
  background-size: cover;
}
.article-body{
  font-family: 'Open Sans Condensed', sans-serif;
}
h1{
  font-family: 'Oswald', sans-serif;
  font-size:25px;
}
address a{
  color:#A9A9A9;
}
.byline{
  font-family: 'Open Sans Condensed', sans-serif;
}
.byline address{
  font-family: 'Roboto', sans-serif;
}
select  {
  color: wheat;
}
a, a:link, a:active {
  text-decoration: none;
  color: #777;
}

a:hover, a:focus {
  color: #29506D;
}
