
header{
  height:auto;
  margin-bottom: 30px;
  margin-top: 30px;
}
.navigation{
  color: white;
}
div ul li{
  color:white;
}

@media only screen and (min-width: 970px) {
  .heading-group-h1 {
    padding: .1em .1em .1em 2em;
    float: none;
  }
  img {
    border-radius:30px;
    /*margin-left: 220px;*/
  }
}
